#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.card {
	color: #fadea9;
	text-align: center;
	background-color: #3c66cc;
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5em 2em;
}

.align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores {
  text-align: right;
}
